*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'cabin', sans-serif;
    color: #292929;
    background-color: white;
}
a{
    text-decoration: none;
}
span{
    font-style: italic;
}
ul{
    list-style-type: none;
}
#ad{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    line-height: 1.5em;
}
#ad a{
    color: aliceblue;
    text-decoration: underline;
}
#wrapper-one{
    background-color: #F0EEEA;
    padding: 0 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.tablet-devices{
    display: none;
}
.laptop-devices{
    display: none;
}
.logo{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav img{
    width: 20px;
}
#hero-image-container{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 10px;
}
#hero-image-container img{
    width: 100%;
    height: 110%;
}
.hero-image-box{
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: white;
    border-radius: 5px;
    box-sizing: content-box;
    width: 120px;
    height: 100px;
    padding: 15px;
    font-weight: bold;
}
.hero-image-box .month-earning{
    border-bottom: 1px solid #E4E3E1;
    padding-bottom: 10px;
    font-size: .8em;
}
.hero-image-box .price{
    font-size: .8em;
    padding: 12px 5px;
}
.hero-image-box button{
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 35px;
    cursor: pointer;
}
.wrapper-content h1{
    font-size: 1.8em;
}
.wrapper-content p{
    color: #5A5444;
    font-size: .95em;
    line-height: 1.4em;
    margin: 10px 0;
}
.wrapper-content ul{
    color: #5A5444;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.wrapper-content ul li{
    margin-left: 5px;
    margin-bottom: 10px;
}
.wrapper-content ul li{
    list-style-image: url(../Assets/Checkmark.svg);
    margin-left: 20px;
}
input{
    border: none;
    margin: 5px 2px;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 40px;
}
#email{
    width: 50%;
    border: 1px solid #ACA9A1;
}
#email::placeholder{
    text-align: center;
    font-style: italic;
    color: #5A5444;
    opacity: 0.5;
}
#submit-btn{
    display: inline;
    color: white;
    background-color: black;
    padding: 0 7%;
    cursor: pointer;
}
#social-media ul{
    margin: 30px 20px;
    display: flex;
    justify-content: space-between;

}
#social-media ul li img{
    width: 100px;
    cursor: pointer;
}
#wrapper-two{
    background-color: #F0EEEA;
    padding: 30px 30px 0;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    
}
#wrapper-two h1{
    font-size: 1.8em;
    padding-right: 50px;
    margin-bottom: 10px;
}
#wrapper-two p{
    color: #5A5444;
    line-height: 1.4em;
    margin-bottom: 20px;
}
#wrapper-two a{
    color: #5A5444;
    font-weight: bold;
    font-size: .85em;
    text-decoration: underline;
}
#wrapper-two a::after{
    font-family: 'Font Awesome 5 free';
    content: '\f30b';
    margin-left: 5px;
}
#wrapper-two a:hover::after{
    padding-left: 5px;
    transition: padding-left 0.15s ease-in-out;
    -webkit-transition: padding-left 0.15s ease-in-out;
    -moz-transition: padding-left 0.15s ease-in-out;
    -o-transition: padding-left 0.15s ease-in-out;
    -ms-transition: padding-left 0.15s ease-in-out;
}
.escrow-image{
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
    overflow: hidden;
    margin-top: 5px;
    position: relative;
}
.escrow-image img{
    position: absolute;
    right: -12%;
    width: 250%;
    height: 100%;  
}
#wrapper-three{
    padding: 30px;
}
#wrapper-three h1{
    font-size: 1.8em;
}
#wrapper-three p{
    color: #5A5444;
    font-size: .9em;
    line-height: 1.4em;
    margin: 10px 0;
}
#wrapper-three a{
    color: #5A5444;
    font-weight: bold;
    text-decoration: underline;
}
#wrapper-three a::after{
    font-family: 'Font Awesome 5 Free';
    content: '\f30b';
    margin-left: 5px;
}
#wrapper-there a:hover::after{
    padding-left: 10px;
    transition: padding-left 0.15s ease-in;
    -webkit-transition: padding-left 0.15s ease-in-out;
    -moz-transition: padding-left 0.15s ease-in-out;
    -o-transition: padding-left 0.15s ease-in-out;
    -ms-transition: padding-left 0.15s ease-in-out;
}
#wrapper-three img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
footer{
    background-color: black;
    color: #959695;
    padding: 40px 20px;
}
footer h3{
    color: white;
    margin-bottom: 10px;
}
footer p{
    margin-bottom: 20px;
    line-height: 1.4em;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
footer ul{
    margin-bottom: 20px;
}
.footer-links ul li{
    margin-bottom: 15px;
}
footer ul li a{
    color: #959695;
}
footer ul li a:hover{
    border-bottom: 2px solid #959695;
}

/* For Tablet Screen Size */
@media (min-width: 768px){
    #ad{
        padding: 20px 80px;

    }
    #hero-image-container{
        height: 350px;
    }
    #hero-image-container img{
        height: 140%;
    }
    .logo{
        padding-top: 10px;
        font-size: 1.2em;
    }
    .small-devices{
        display: none;
    }
    .tablet-devices{
        display: flex;
    }
    .tablet-devices a{
        color: black;
        padding-top: 10px;
        margin-right: 20px;
    }
    nav ul{
        display: flex;
        margin-right: 10px;
    }
    nav ul li{
        padding-top: 10px;
    }
    nav ul li a{
        color: black;
    }
    nav ul li a:hover{
        border-bottom: 2px solid black;
    }
    nav button{
        display: inline;
        color: white;
        background-color: black;
        border: none;
        padding: 0 15px;
        border-radius: 5px;
        height: 40px;
        cursor: pointer;
    }
    .wrapper-content h1{
        font-size: 3em;
        padding-right: 200px;
    }
    .wrapper-content p{
        font-size: 1.2em;
        line-height: 1.4em;
    }
    .wrapper-content ul li{
        font-size: 1.2em;
    }
    #wrapper-two{
        padding: 70px 70px 0;
    }
    #wrapper-two h1{
        font-size: 3em;
        padding-right: 100px;
    }
    #wrapper-two p{
        font-size: 1.2em;
    }
    #wrapper-two a{
        font-size: 1.2em;
    }
    .escrow-image{
        width: 500px;
        height: 400px;
        margin: 0 auto;
    }
    .escrow-image img{
        top: 20px;
        right: -50px;  
    }
    #wrapper-three h1{
        font-size: 2em;
    }
    #wrapper-three p{
        font-size: 1.2em;
    }
    #wrapper-three a{
        font-size: 1.2em;
    }
    .footer-links{
        display: flex;
        justify-content: space-around;
    }
}

/* For Laptop Screen Size */
@media (min-width: 1440px) {
    #wrapper-one{
        padding: 0 150px;
    }
    nav{
        padding: 40px 0;
    }
    #wrapper-content{
        display: flex;
        flex-direction: row-reverse;
    }
    #hero-image-container{
        max-width: 35%;
        height: 35%
    }
    .wrapper-content{
        padding: 80px 120px 80px 0;
        padding-right: 50px;
    }
    .wrapper-content h1{
        line-height: 1.2em;
    }
    .wrapper-content p{
        line-height: 1.4em;
        padding-bottom: 10px;
    }
    .wrapper-content ul{
        margin-bottom: 30px;
    }
    .wrapper-content ul li{
        padding-bottom: 5px;
    }
    .laptop-devices{
        display: flex;
    }
    #social-media ul{
        margin: 30px 150px;
    }
    #wrapper-two{
        margin: 0 150px;
        padding-top: 0px;
        display: flex;
    }
    .wrapper-two{
        padding: 100px 100px 50px 0;
    }
    #wrapper-two h1{
        font-size: 2em;
    }
    #wrapper-two::after{
        content: '';
        display: table;
        clear: both;
    }
    .escrow-image{
        float: right;
    }
    .escrow-image{
        width: 1000px;
        height: 400px;
        /* border: 1px solid black; */
        margin-top: 0px;
        position: relative;
    }
    .escrow-image img{
        top: 0;
    }
    #wrapper-three {
        padding: 30px 150px;
        display: flex;
        flex-direction: row-reverse;
    }
    #wrapper-three img{
        width: 600px;
        height: 500px;
    }
    .wrapper-three-content{
        padding: 150px 10px 0;
    }
    #wrapper-three p{
        padding: 10px 0;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 700px);
    }
}