*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
    color: #292929;
    background-color: white;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
#ad{
    background-color: black;
    color: white;
    font-size: 0.75em;
    padding: 20px;
    line-height: 1.5em;
}
#ad a{
    color: aliceblue;
    text-decoration: underline;
}
#wrapper-one{
    background-color: #F0EEEA;
    padding: 0 15px;
}
nav{
    justify-content: space-between;
    padding: 20px 0;
    /* max-width: 100%; Remember you inputted a max-width here */
}
.big-devices{
    display: none;
}
.small-devices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav img{
    width: 20px;
}
#hero-image-container{
    position: relative;
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 5px;
}
.hero-image{
    position: abosolute;
    width: 100%;
}
.hero-image-box{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    border-radius: 5px;
    box-sizing: content-box;
    width: 90px;
    height: 80px;
    padding: 15px;
    font-weight: bold;
    font-size: .7em;
}
.hero-image-box .month-earning{
    border-bottom: 1px solid #E4E3E1;
    font-weight: lighter;
    padding-bottom: 5px;
}
.hero-image-box .price{
    padding: 10px 5px;
    font-weight: bold;
}
.hero-image-box button{
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 30px;
}
.wrapper-content h1{
    font-size: 1.5em;
}
.wrapper-content p{
    color: #5A5444;
    font-size: .7em;
    line-height: 1.4em;
    margin: 10px 0;
}
.wrapper-content p span{
    font-style: italic;
}
.wrapper-content ul{
    color: #5A5444;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.wrapper-content ul li{
    font-size: 0.7em;
    margin-left: 5px;
    margin-bottom: 2px;
}
.wrapper-content ul li{
    list-style-image: url(../Assets/Checkmark.svg);
    margin-left: 20px;
}
input{
    border: none;
    margin: 5px 2px;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 40px;
}
#email{
    width: 50%;
    border: 1px solid #ACA9A1;
}
#email::placeholder{
    text-align: center;
    font-style: italic;
    color: #5A5444;
    opacity: 0.5;
}
#submit-btn{
    display: inline;
    color: white;
    background-color: black;
    padding: 0 7%;
}
#social-media ul{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    padding: 0; 
}
#social-media ul li img{
    margin: 20px 5px;
    width: 70px;
}
#wrapper-two{
    background-color: #F0EEEA;
    padding: 20px;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
    
}
#wrapper-two h1{
    font-size: 1.5em;
    padding: 10px;
}
#wrapper-two p{
    padding: 10px;
    color: #5A5444;
    line-height: 1.4em;
    font-size: .8em;
}
#wrapper-two a{
    padding-left: 10px;
    color: #5A5444;
    font-weight: bold;
    font-size: .85em;
    text-decoration: underline;
}
#wrapper-two a::after{
    font-family: 'Font Awesome 5 free';
    content: '\f30b';
    margin-left: 5px;
}
#wrapper-two a:hover::after{
    padding-left: 5px;
    transition: padding-left 0.15s ease-in-out;
    -webkit-transition: padding-left 0.15s ease-in-out;
    -moz-transition: padding-left 0.15s ease-in-out;
    -o-transition: padding-left 0.15s ease-in-out;
    -ms-transition: padding-left 0.15s ease-in-out;
}
.escrow-image{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    overflow: hidden;
    margin-top: 5px;
    position: relative;
}
.escrow-image img{
    position: absolute;
    right: -12%;
    width: 250%;
    height: 100%;
    
}
#wrapper-three{
    padding: 20px;
}
#wrapper-three h1{
    font-size: 1.7em;
}
#wrapper-three p{
    color: #5A5444;
    font-size: .8em;
    line-height: 1.4em;
    margin: 10px 0;
}
#wrapper-three a{
    color: #5A5444;
    font-size: .85em;
    font-weight: bold;
}
#wrapper-three a::after{
    font-family: 'Font Awesome 5 Free';
    content: '\f30b';
    margin-left: 5px;
    text-decoration: underline;
}
#wrapper-there a:hover::after{
    padding-left: 10px;
    transition: padding-left 0.15s ease-in;
    -webkit-transition: padding-left 0.15s ease-in-out;
    -moz-transition: padding-left 0.15s ease-in-out;
    -o-transition: padding-left 0.15s ease-in-out;
    -ms-transition: padding-left 0.15s ease-in-out;
}
#wrapper-three img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
footer{
    background-color: black;
    color: #959695;
    padding: 40px 20px 20px 20px;
}
footer h4{
    color: white;
    padding-bottom: 5px;
}
footer p{
    font-size: .85em;
    margin-bottom: 20px;
}
footer ul{
    margin-bottom: 20px;
}
footer ul li{
    margin: 5px 0;
}
footer ul li a{
    color: #959695;
}
footer ul li a:hover{
    font-size: 1.2em;
    transition: font-size 0.2s ease-in-out;
}
footer .footer-links{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

@media (min-width: 320px) {
    #ad{
        font-size: 0.9em;
    }
    nav{
        padding: 25px 0;
    }
    .logo{
        font-size: 1.1em;
    }
    nav img{
        width: 23px;
    }
    #hero-image-container{
        height: 320px;
    }
    .hero-image-box{
        top: 25px;
        left: 25px;
        width: 110px;
        height: 90px;
        padding: 15px;
        font-weight: bold;
        font-size: 0.8em;
    }
    .hero-image-box .price{
        padding: 10px 5px;
        font-weight: bold;
    }
    .hero-image-box button{
        height: 35px;
    }
    .wrapper-content p{
        font-size: .85em;
        margin: 10px 0;
    }
    .wrapper-content ul {
        padding-left: 2px;
        font-size: 1.2em;
    }
    #social-media ul li img{
        width: 85px;
    }
    .escrow-image{
        height: 250px;
    }
}
@media (min-width: 360px) {
    nav{
        padding: 30px 0;
    }
    #hero-image-container{
        height: 360px;
    }
    .hero-image-box{
        width: 110px;
        height: 105px;
    }
    .hero-image-box .price{
        padding: 15px 5px;
        font-weight: bold;
    }
    .hero-image-box button{
        height: 40px;
    }
    .wrapper-content h1{
        font-size: 1.6em;
    }
    .wrapper-content p{
        font-size: 0.9em;
        margin: 10px 0;
    }
    .wrapper-content ul{
        font-size: 1.2em;
        margin-left: 2px;
    }
    #social-media ul li img{
        width: 100px;
    }
    #wrapper-two h1{
        font-size: 1.9em;
        padding: 5px 40px 5px 10px;
    }
    #wrapper-two p{
        padding: 10px;
        color: #5A5444;
        line-height: 1.4em;
        font-size: .9em;
    }
    #wrapper-two a{
        padding-left: 10px;
        color: #5A5444;
        font-weight: bold;
        font-size: .9em;
    }
    .escrow-image{
        width: 280px;
        height: 300px;
    }
    #wrapper-three p{
        font-size: 1em;
    }
    #wrapper-three a{
        font-size: 1em;
    }
    footer h4{
        color: white;
        padding-bottom: 5px;
        font-size: 1.2em;
    }
    footer p{
        font-size: 1em;
        margin-bottom: 20px;
    }
    .footer-links{
        padding-right: 10px;
    }
}
@media (min-width: 411px) {
    #wrapper-one{
        padding: 0 20px;
    }
    #hero-image-container{
        height: 411px;
    }
    .hero-image-box{
        width: 150px;
        height: 120px;
    }
    .hero-image-box .month-earning{
        margin: 0 5px;
        padding: 10px 0;
    }
    .hero-image-box .price{
        padding: 10px 5px;
    }
    .hero-image-box button{
        height: 40px;
        margin-top: 5px;
    }
    .wrapper-content h1{
        font-size: 1.9em;
    }
    .wrapper-content p{
        font-size: 1em;
    }
    .wrapper-content ul{
        font-size: 1.3em;
        padding-left: 2px;
    }
    #email{
        margin-left: 10px;
        margin-right: 5px;
        padding: 5px 15px;
    }
    #social-media ul li img{
        width: 115px;
    }
    .escrow-image img{
        right: -16%;
    }
    #wrapper-three h1{
        padding-right: 40px;
    }
    #wrapper-three p{
        margin-bottom: 20px;
    }
    .footer-links{
        padding: 0 10px;
    }
}
/* For low resolution tablets and mobile landscapes */
@media (min-width: 480px) and (max-width: 549px) {
    #ad{
        font-size: .7em;
        text-align: center;
    }
    #wrapper-one{
        padding: 0 25px;
        /* max-width: 700px ; */
    }
    #hero-image-container{
        max-height: 500px;
    }
    .wrapper-content h1{
        font-size: 1.9em;
        padding-right: 120px;
    }
    #social-media{
        padding-left: 10px;
    }
    #social-media ul li img{
        width: 130px;
    }
    #wrapper-two{
        padding: 30px;
        margin: 0 30px 20px 30px;        
    }
    .escrow-image{
        margin-left: 30px;
    }
    .escrow-image img{
        right: -18%;
    }
    #wrapper-three{
        padding: 10px 30px;
    }
    #wrapper-three h1{
        padding-right: 209px;
    }
    footer{
        padding: 30px;
    }
    .footer-links {
        padding-left: 20px;
        padding-right: 40px;
    }

}

/*For Tablets*/
@media (min-width: 550px){
    #ad{
        font-size: .8em;
        text-align: center;
        line-height: 20px;
    }
    .small-devices{
        display: none;
    }
    .big-devices{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
    }
    #wrapper-one{
        padding: 0 30px;
        /* max-width: 700px ; */
    }
    .logo{
        padding-top: 5px;
    }
    nav ul{
        display: flex;
        font-size: 0.7em;
        padding-left: 110px;
        font-weight: bold;
    }
    nav ul li{
        padding: 10px 5px 0 5px;
    }
    nav ul li a{
        color: black;
    }
    nav ul li a:hover{
        border-bottom: 2px solid black;
    }
    nav button{
        display: inline;
        color: white;
        background-color: black;
        border: none;
        padding: 0 10px;
        border-radius: 5px;
        height: 40px;
    }
    #hero-image-container{
        height: 430px;
    }
    .wrapper-content h1{
        padding-right: 180px;
    }
    #email{
        margin-left: 5px;
    }
    #social-media{
        margin-left: 10px;
    }
    #social-media ul li img{
        width: 90px;
        padding-right: 10px;
    }
    #wrapper-two{
        padding: 50px 50px 0 50px;
        margin: 0 30px 20px 30px;        
    }
    .escrow-image{
        width: 300px;
        margin-left: 30px;
    }
    .escrow-image img{
        right: -15%;
    }
    #wrapper-three{
        padding: 20px 30px;
    }
    #wrapper-three h1{
        padding-right: 230px;
    }
    footer{
        padding: 30px;
    }
    footer h4{
        margin: 10px 0;
    }
    .footer-links{
        padding: 0;
    }
    footer .footer-links{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 600px) {
    nav ul li{
        font-size: 1.1em;
    }
    nav ul{
        padding-left: 160px;
    }
    #hero-image-container{
        height: 475px;
    }
    #social-media ul li img{
        width: 100px;
    }
    .escrow-image{
        width: 320px;
        height: 320px;
    }
}
@media (min-width: 650px) {
    #ad{
        font-size: .9em;
    }
    #hero-image-container{
        height: 515px;
    }
    .wrapper-content h1{
        font-size: 2.05em;
    }
    #social-media ul li img{
        width: 110px;
    }
    .escrow-image{
        width: 350px;
    }
}